{% load static  %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>django </title>
    
</head>
<body style="background-color:cyan;">
         <a href="../"<b>HOME</b></a> &nbsp | &nbsp <a href="travel"<b>TRAVEL PAGE</b></a>
       {% if user.is_authenticated %}  <!--if user is login (authenticate)  build in django function-->
       &nbsp | &nbsp
       <b>hello,{{user.first_name}}</b>
        &nbsp | &nbsp <a href="accounts/logout"<b>Logout</b></a>           
       {% else %}
        &nbsp | &nbsp <a href="accounts/register"<b>Registration</b></a>
        &nbsp | &nbsp <a href="accounts/login"<b>LOGIN</b></a>

        {% endif %}

    {% block content %} 

    {% endblock %}


</body>
<script src="{% static 'test.js' %}"></script>
</html>