{% extends 'base.html' %}      <!-- extendent from base.html page-->


{% block content %}              <!-- from her the content that will be added on base.html page in block content  area -->
{% if user.first_name %}
<h1>Hellow {{user.first_name}}  !!</h1>
{%else%}
<h1>Hellow User !!</h1>
{% endif %}
<form action="add" method=POST>
    
    {% csrf_token %}
    
    Enter a number:-<input type="text" name="num1"><BR>
    Enter a number:-<input type="text" name="num2">
    <input type="submit">


</form>    
 <p>
    {% for num in lis %}
    <h{{ num }}> life is cool  </h{{ num }}>
    {% endfor %}

 </p>
copyright@{{name}}
{% endblock %}